/*
Theme Name:HC Desenvolvimentos
Theme URI: https://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA
font-family: 'Raleway', sans-serif;
font-family: 'K2D', sans-serif;
font-family: 'Montserrat', sans-serif;

*/
*{
  margin: 0;
  padding: 0;
}
p,h1,h2,h3,h4{
  margin:0;
}
ul{
  padding: 0;
  margin:0;
}
body{
   font-family: 'Raleway', sans-serif;

}
.whats{
 background: #09d261db;
 color: #fff;
 position: fixed;
 right: 0;
 z-index: 99999;
 top: 30%;
 padding: 20px 10px;
 max-width: 140px;
 text-align: center;
 -webkit-transition: ease-in-out .4s;
 -o-transition: ease-in-out .4s;
 transition: ease-in-out .4s;
}
.whatsMobile {
  top: 47%;
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}
.whats a{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.whats a i{
  font-size: 20px;
}
.topo{
  padding: 15px 0;
  position: relative;
  background: #fff;
  z-index: 999999;
  padding-bottom:0;
  width: 100%;
  transition:All 1s ease;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
  -o-transition:All 1s ease;
}
  .topo a{
    text-decoration: none;
  }
   .topo a img{
    max-width: 120px;
    display: block;
    margin: 0 auto;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
  }
    .topo a p{
      text-align: center;
      color: #aa0e2f;
      font-weight: 700;
      font-size: 12px;
      margin-top: -4px;
      margin-bottom: 20px;
      transition:All 1s ease;
      -webkit-transition:All 1s ease;
      -moz-transition:All 1s ease;
      -o-transition:All 1s ease;
    }
  .topo .buttonMobile{
    display: none;
  }
    .topo .buttonMobile span{}

  .topo nav{
    text-align: center;
  }
  .topo nav .menuList:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .topo nav .menuList {
    position: relative;
  }
    .topo nav .menuList ul {

    }
      .topo nav .menuList ul li {
        list-style: none;
        display: inline-block;
        position: relative;
      }
        .topo nav .menuList ul li a {
          text-align: center;
          color: #58595b;
          font-weight: 600;
          font-size: 20px;
          display: inline-block;
          padding: 10px 20px;
          -webkit-transition: ease-in-out .2s;
          -o-transition: ease-in-out .2s;
          transition: ease-in-out .2s;
        }
        .topo nav .menuList ul li:hover a{
          background: #aa0e2f;
          color: #fff;
        }
        .topo nav .menuList ul li:hover  .sub-menu, .topo nav .menuList ul li a:focus + .sub-menu {
          display: block;
          -webkit-transition: ease-in-out .2s;
          -o-transition: ease-in-out .2s;
          transition: ease-in-out .2s;
        }
        .topo nav .menuList ul .list-submenu .sub-menu {
          display: none;
          position: absolute;
          top: 48px;
          left: 0;
          background: #aa0e2f;
          min-width: 200px;
          z-index: 1000;
        }
          .topo nav .menuList ul .list-submenu .sub-menu li {
            list-style: none;
            display: block;
          }
          .topo nav .menuList ul .list-submenu .sub-menu li:hover {
            display: block;
            background-color: #fff;
            color: #666;
          }
            .topo nav .menuList ul .list-submenu .sub-menu li a {
              color: #fff;
            }



.pg-inicial{
  position: relative;
  background: #fff;
  padding-bottom: 50px;
}
  .pg-inicial .carrossel .item{

  }
    .pg-inicial .carrossel .item figure{
      display: block;
      width: 100%;
      height: 450px;
      background-size: cover!important;
      background-position: center!important;
      position: relative;
    }
  .pg-inicial .carrossel .item .texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    min-height: 200px;
    padding-top:50px;
  } 
  .pg-inicial .topico{
		
		
		
  }
  .pg-inicial .topico h3{
  	font-size: 40px;
    margin-bottom: 40px;
    font-family: 'Raleway', sans-serif;
    color: #666;
  }
    .pg-inicial .carrossel .item .texto h2{
      color: #fff;
      font-size: 70px;
      text-shadow: 2px 3px 5px rgba(0,0,0,0.58);

    } 
    .pg-inicial .carrossel .item .texto p{
      color: #fff;
      font-size: 20px;
      font-style: italic;
      margin-top: 5px;
      text-shadow: 2px 3px 5px rgba(0,0,0,0.58);
    }

section.sobre{
  margin-top: 60px;
}
  section.sobre .texto{
    padding: 50px 40px;
    max-width: 500px;
    margin: 55px auto 0;
    border: 1px solid #bdbdbd;
    min-height: 300px;
  }
    section.sobre .texto h3{
      font-size: 40px;
      margin-bottom: 40px;
      font-family: 'Raleway', sans-serif;
      color:#666;
    } 
    section.sobre .texto p{
      color:#666;
    }
  section.sobre  figure{
    width: 370px;
    height: auto;
    border-radius: 100%;
    margin: 0 auto;
    background-position: center!important;
    background-size: cover!important;

  } 
   section.sobre  figure.sobreFoto{
    width: 100%;
     max-width: 370px;
    height: 370px;
    border-radius: 100%;
    margin: 0 auto;
    background-position: center!important;
    background-size: cover!important;
   }
    section.sobre  figure img{
      display: block;
      width: 100%;
      max-width: 390px;
      margin: 0 auto 0;
      border-radius: 5px;
    }
     section.sobre .texto2{
        max-width: 1072px;
        margin: 70px auto;
     }
    section.sobre .texto2 h3{
      font-size: 40px;
      margin-bottom: 30px;
      font-family: 'Raleway', sans-serif;
      color:#666;
    }
     section.sobre .texto2 p{
      color:#666;
      margin-bottom: 15px;
     }
     section.sobre .texto2 .foto{
      margin:40px 0;
     }
       section.sobre .texto2 .foto figure{
          display: inline-block;
          max-width: 33%;
       } 
         section.sobre .texto2 .foto figure img{
        
         }  
section.newssllater{
  background: url('img/2.jpg');
  min-height: 300px;
  background-size: cover!important;
  background-position: center!important;
  background-attachment: fixed;
  margin-bottom: 50px;
  position: relative;
}
section.newssllater:before{
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  background: #0000009e;

}
section.newssllater .form{
  position: relative;
  max-width: 660px;
  margin: 0 auto;
  padding-top: 60px;
}
  section.newssllater .textoNews{
  
  }
    section.newssllater .textoNews p{
      color: #fff;
      font-size: 35px;
      font-weight: 800;

    }
    section.newssllater .textoNews span{
      color: #fff;
      font-size: 20px;
      display: block;
      margin-bottom: 35px;
    }
    section.newssllater input[type="text"]{
      padding: 10px;
      border-radius: 2px;
      border: none;
      width: 233px;
      outline: none;
    }
    section.newssllater input[type="submit"]{
      background: #a40821;
      color: #fff;
      font-weight: 500;
      padding: 10px 30px;
      border: none;
      outline: none;
    }

.instagram{
  max-width: 1287px;
 margin: 0 auto;
  text-align: center;
  position: relative;
  font-size: 0;
}
  .instagram a{
  
  }
  .instagram .tituloInstagram{
   
  }
    .instagram .tituloInstagram p{
      font-size: 35px;
      color: #aa0e2f;
      font-weight: 700;
    }
    .instagram .tituloInstagram span{
      font-size: 30px;
      color: #aa0e2f;
      font-weight: 300;
    }
    .instagram .tituloInstagram strong{
    
    }
    #instafeed {
      width: 100%;
      max-width: 1190px;
      margin: 25px auto;
      display: block;
    }
    .instagram a .itemInstagram{
     width: 14%;
     height: 180px;
     display: inline-block;
     background-size: cover!important;
     position: relative;
     margin: 2px 10px;
     background-position: center !important;
    } 
      .itemInstagram:before {
          content: "";
          display: inline-block;
          width: 100%;
          height: 100%;
      }
      .itemInstagram:hover:before {
          background: rgb(0,0,0,0.37);
      }
      .instagram a .itemInstagram .likeComments{
        position: absolute;
        display: block;
        top: 0;
        z-index: 9999999;
        text-align: center;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
      .instagram a .itemInstagram .likeComments .likes{
        opacity: 0;
        font-size: 18px;
        display: inline-block;
        margin: 0 10px;
        color: #fff;
        font-weight: 600;
        position: relative;
      }
      .instagram a .itemInstagram .likeComments .comments{
        opacity: 0;
        font-size: 18px;
        display: inline-block;
        margin: 0 10px;
        color: #fff;
        font-weight: 600;
        position: relative;
      }
      .instagram a .itemInstagram:hover .likes {
        opacity: 1;
      }
      .instagram a .itemInstagram:hover .comments {
        opacity: 1;
      }
      .likes:before{
        content: " ";
        display: inline-block;
        background: url(https://recursos.crisecia.com.br/i/imgSite/like.png);
        width: 15px;
        height: 13px;
        background-position: center!important;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        margin: 0 auto;
        margin-right: 6px;
      }
      .comments:before {
        content: " ";
        display: inline-block;
        background: url(https://recursos.crisecia.com.br/i/imgSite/chat.png);
        width: 15px;
        height: 13px;
        background-position: center!important;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        margin: 0 auto;
        margin-right: 6px;
    }
.btnFaleComigo{
  display: block;
  padding: 10px;
  margin: 50px auto;
  max-width: 222px;
  background: #aa0e2f;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  border:solid 1px;
}
  .btnFaleComigo:hover{
    border-color:#aa0e2f;
   background: #fff;
   color: #aa0e2f;
  }
  section.depoimentos .row{
    margin-bottom: 80px;
  }
    section.depoimentos>h3{
      text-align: center;
      font-size: 40px;
      color: #aa0e2f;
      font-weight: 600;
      margin-bottom: 60px;
    }
    section.depoimentos .depoimento{
      
    }
     section.depoimentos .depoimento h2{
      font-size: 25px;
      font-weight: 600;
      color: #aa0e2f;
      margin-bottom: 15px;
    }
    section.depoimentos .textoDep {
    
    }
    section.depoimentos .textoDep p {
      color: #666;
    } 
     section.depoimentos .depoimentoFoto{

    }
     section.depoimentos .depoimentoFoto img, section.depoimentos .fotoDepoimentoMobile img{
      display: block;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
    }
      section.depoimentos .depoimentoFoto h3, section.depoimentos .fotoDepoimentoMobile h3{
        font-size: 17px;
        text-align: center;
        max-width: 305px;
        margin: 10px auto;
    }

section.programa{
  padding-top: 60px;
}
  section.programa  h3.titulop{
    text-align: center;
    font-size: 40px;
    color: #aa0e2f;
    font-weight: 600;
    margin-bottom: 60px;
  } 
  section.programa .eusouGigante{

  }
  section.programa .eusouGigante ul{
    margin:20px 0;
  }
  section.programa .eusouGigante ul li{
    margin-bottom:20px;
  }
    section.programa .eusouGigante .titutlo{

    }
      section.programa .eusouGigante .titutlo h2{
        font-size: 25px;
        font-weight: 600;
        color: #aa0e2f;
        margin-bottom: 15px;
      }
      section.programa .eusouGigante .titutlo p{
        color: #666;
      }
        section.programa .eusouGigante .titutlo p span {
          font-weight: 700;
        }
       section.programa p{
        margin-bottom: 10px;
       }
  section.programa .icones{

  }
  section.programa .icones p, section.programa .colMobile .icones p{
    text-align: center;
    font-weight: 700;
    color: #aa0e2f;
    font-size: 16px;
  }
    section.programa .icones ul, section.programa .colMobile .icones ul{
      padding:0;
      list-style: none;
      margin:0;
      text-align: center;
      padding-top: 50px;
    }
      section.programa .icones ul li, section.programa .colMobile .icones ul li{
        width: 45%;
        display: inline-block;
        margin-bottom: 20px;
        vertical-align: top;
      }
        section.programa .icones ul li figure, section.programa .colMobile .icones ul li figure{
          background: #aa0e2f;
          max-width: 140px;
          height: 140px;
          border-radius: 100%;
          margin: 0 auto;
          padding-top: 30px;
          -webkit-box-shadow: 0px 0px 3px 0px #000000; 
          box-shadow: 0px 0px 3px 0px #000000;
        }
          section.programa .icones ul li  img, section.programa .colMobile .icones ul li  img{
            display: block;
            max-width: 75px;
            margin: 0 auto;
        
          }
          section.programa .icones ul li  h2, section.programa .colMobile .icones ul li  h2{
            font-size: 25px;
            font-weight: 600;
            color: #aa0e2f;
            padding-top: 20px;
            margin-bottom: 15px;
          }
          section.programa .icones ul li  h2 span, section.programa .colMobile .icones ul li  h2 span{
            font-size: 50px;
            vertical-align: sub;
          }
  section.contato{
    padding-top: 100px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
   section.contato .form{
    
  }
    section.contato h3{
      text-align: center;
      font-size: 40px;
      color: #aa0e2f;
      font-weight: 600;
      
    }
    section.contato p{
      font-size: 25px;
      font-weight: 600;
      color: #aa0e2f;
      margin-bottom: 15px;
    }
    section.contato .inputs{
    
    } 
      section.contato .col-sm-4 .inputs  input{
        width: 95%;
        margin: 0 auto;
        border: solid #aa0e2f 1px;
        padding: 12px;
      }
      section.contato .inputs  input[type="submit"]{
        padding: 10px 55px;
        border: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        background: #aa0e2f;
      }
      section.contato .inputs  textarea{
        border: solid #aa0e2f 1px;
        margin-top: 10px;
        display: block;
        width: 100%;
        max-width: 98%;
        height: 175px;
        margin: 10px auto;
        padding: 10px;
      }

    footer{
      background: #aa0e2f;
      padding: 30px 0;
      color: #fff;
      width: 100%;
    }
      footer strong{
      
      }
      footer p{
      
      }

      .topo.topoFixed{
        
      }  
      .topo.topoFixed  a img{
        position: absolute;
        max-width: 78px;
        top: 5px;
        transition:All 1s ease;
        -webkit-transition:All 1s ease;
        -moz-transition:All 1s ease;
        -o-transition:All 1s ease;
      }
      .topo.topoFixed a p{
        display: none;
        transition:All 1s ease;
        -webkit-transition:All 1s ease;
        -moz-transition:All 1s ease;
        -o-transition:All 1s ease;
      }
      .topo.topoFixed{
       padding: 0;
       position: fixed;
       transition:All 1s ease;
       -webkit-transition:All 1s ease;
       -moz-transition:All 1s ease;
       -o-transition:All 1s ease;
      }

      /* PÁGINA NEWSLETTER */
.pg-newsletter{

}
  .pg-newsletter .destaque{
    background-image: url("img/news.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .pg-newsletter .destaque::before{
    content: '';
    background-color: #000;
    opacity: .6;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
  }
    .pg-newsletter .destaque .imagem{

    }
      .pg-newsletter .destaque .imagem figure{

      }
        .pg-newsletter .destaque .imagem figure img{

        }
    .pg-newsletter .destaque .texto{
      text-align: center;
      width: 100%;
      max-width: 630px;
      margin: 55px auto;
      color: #fff;
    }
      .pg-newsletter .destaque .texto h1{
       font-size: 26px;
       padding: 15px 0;
       border-top: 1px solid;
       border-bottom: 1px solid;
       margin: 10px 0;
      }
      .pg-newsletter .destaque .texto h3{
        font-size: 20px;
        margin: 12px 0 0;
        font-weight: 300;
      }
      .pg-newsletter .destaque .texto .botao{

      }
        .pg-newsletter .destaque .texto .botao button{
          border: none;
          border-radius: 35px;
          background-color: #aa0e2f;
          color: white;
          margin: 55px auto;
          font-size: 25px;
          width: 100%;
          max-width: 500px;
          padding: 10px;
        }
  .pg-newsletter .documentoPdf{
    min-height:570px;
    padding-top: 140px;
 
  }
    .pg-newsletter .documentoPdf h3{
      text-align: center;
      padding: 30px 0;
      font-size: 20px;
    }
    .pg-newsletter .documentoPdf .imagemPdf{

    }
      .pg-newsletter .documentoPdf .imagemPdf figure{
        width: 100%;
        max-width: 270px;
        text-align: center;
        margin: 0 auto;
      }
        .pg-newsletter .documentoPdf .imagemPdf figure img{
          width: 100%;
          max-width: 270px;
        }
    .pg-newsletter .documentoPdf p{
      text-align: center;
      font-weight: 700;
      font-size: 18px;
    }
    .pg-newsletter .documentoPdf .desc {
      width: 100%;
      max-width: 1105px;
      margin: 10px auto 40px;
    }
      .pg-newsletter .documentoPdf .desc p{
        font-size: 16px;
        font-weight: 600;
      }
    .pg-newsletter .documentoPdf .clique-aqui{
      margin: 24px 0;
      font-size: 20px;
    }
    .pg-newsletter .documentoPdf .btnPdf{
      width: 100%;
      max-width: 700px;
      margin: 35px auto;
      text-align: center;
    }
      .pg-newsletter .documentoPdf .btnPdf button{
        border: none;
        border-radius: 35px;
        background-color: #aa0e2f;
        color: white;
        font-size: 25px;
        padding: 10px;
        width: 100%;
        max-width: 520px;
      }
      .pg-newsletter .destaque .texto .destaque-baixo {
        font-size: 26px;
        padding: 0;
        border-top: none;
        border-bottom: none ;
        margin: 0;
      }
.pg-popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 999999999999999;
}
  .pg-popup .newsletter {
    width: 100%;
    max-width: 600px;
    margin: 100px auto;
  }
  .pg-popup .newsletter h2{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 12px 0;
  }
    .pg-popup .newsletter form {

    }
      .pg-popup .newsletter form input{
        width: 100%;
        max-width: 325px;
        padding: 12px 0;
        border: 2px solid #cececea8;
        margin: 8px auto;
        display: block;
        background-color: #d8d8d82b;
        text-indent: 15px;
        font-weight: 500;
      }
      .pg-popup .newsletter form input::placeholder {
        color: #555;
        font-size: 15px;
        font-weight: 500;
      }
      .pg-popup .newsletter form .botao{
        border: none;
        border-radius: 35px;
        background-color: #aa0e2f;
        color: white;
        font-size: 20px;
        padding: 15px;
        width: 100%;
        max-width: 470px;
        margin: 25px auto;
        text-indent: 0;
      }
      .pg-popup .newsletter span{
        text-align: center;
        display: block;
        font-size: 12px;
      }
      .pg-popup .newsletter .fechar {
        float: right;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 30px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
      }
      .page-template-downloads .topo nav .menuList ul li{
  display: none;
}

.topo nav .menuList ul li.dow{
  display:inline-block!important;
}
.page-template-inicial .topo nav .menuList ul li.dow.homemenu{
display:none!important;
}

  /* @MEDIA */
  @media(max-width: 1199px) {
    .topo nav .menuList ul .list-submenu .sub-menu {
      right: 274px;
    }
  }
  @media(max-width: 991px){
    section.sobre .texto {
      margin: 0px auto 0;
    }
    section.sobre figure {
      width: 320px;
     
    }
    section.depoimentos .depoimentoFoto img {
      max-width: 270px;
    }
    section.depoimentos .depoimentoFoto h3 {
      font-size: 14px;
      text-align: center;
    }
    section.depoimentos .depoimento h2 {
      font-size: 21px;
    }
    section.depoimentos .textoDep {
      padding: 0 10px;
    }
    section.sobre .texto2 h3, section.depoimentos>h3 , section.programa h3.titulop,section.contato h3,.instagram .tituloInstagram p {
      font-size: 30px;
    }
    section.programa .icones ul li img, section.programa .colMobile .icones ul li img {
      display: block;
      max-width: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
    section.programa .icones ul li figure, section.programa .colMobile .icones ul li figure {
      max-width: 120px;
      height: 120px;
      position: relative;
    }
    section.programa .icones ul li h2, section.programa .colMobile .icones ul li h2 {
      font-size: 20px;
    }
    section.programa .icones ul li, section.programa .colMobile .icones ul li{
      vertical-align: top;
    }
    section.contato p {
      font-size: 21px;
    }
    .instagram .tituloInstagram span {
      font-size: 23px;
    }
    footer .contato{
      text-align: center;
    }
    .instagram a .itemInstagram {
      height: 145px;
    }
    .topo nav .menuList ul .list-submenu .sub-menu {
      right: 163px;
  } 
  @media(max-width: 767px){
    .topo nav .menuList ul li.dow {
      display: block!important;
    }
    section.sobre .texto h3 {
      font-size: 30px;
    }
    .topo nav .menuList ul .list-submenu .sub-menu{
      position: initial;
      left: 0;
      background: #aa0e2f;
      min-width: 200px;
      z-index: 1000;
    }
    .topo nav .menuList ul li a{
      text-align: left;
    }
    .topo nav .menuList ul li{
      display: block;
    }
    section.sobre .texto {
      margin-bottom: 30px;
    }
    section.sobre .texto2 .foto figure{
      height: initial;
      vertical-align: top;
      margin-bottom: 10px;
      width: 30%;
    }
    section.sobre .texto2 {
      text-align: center;
      padding: 0 20px;
    }
    section.depoimentos{
      text-align: center;
      padding: 0 20px;
    }
    section.depoimentos>h3, section.programa h3.titulop{
      margin-bottom: 20px;
    }
    section.depoimentos .depoimentoFoto {
      margin-top: 30px;
    }
    section.programa .eusouGigante ul {
      padding-left: 20px;
    }
    section.programa {
      text-align: center;
      padding: 0 20px;
    }
    section.programa .icones ul li, section.programa .colMobile .icones ul li{
      width: 30%;
    }
    section.programa .icones ul li h2, section.programa .colMobile .icones ul li h2 {
      font-size: 16px;
    }
    section.contato {
      padding-top: 30px;
    }
    section.contato .col-sm-4 .inputs input{
      margin: 10px auto;
    }
    section.contato .inputs textarea {
      max-width: 95%;
      margin: 10px auto;
    }
    section.newssllater .form {
      text-align: center;
      padding: 60px 20px 0;
    }
    .topo a img {
      max-width: 75px;
    }
    .topo a p {
      font-size: 11px;
    }
    .topo nav a {
      display: block;
      width: 100%;
      font-size: 15px;
      text-align: left;
    }
    .topo .buttonMobile {
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 30px;
      right: 10px;
    }
    .topo .buttonMobile span{
      width: 95%;
      background: #9a1126;
      display: block;
      height: 2px;
      margin: 6px auto;
    }
    .topo nav{
      height: 0;
      min-height: 0;
      overflow:hidden;
      -webkit-transition: ease-in-out .3s;
      -o-transition: ease-in-out .3s;
      transition: ease-in-out .3s;
    }
    .topo.topoFixed a img {
      max-width: 72px;
      position: initial;
      margin-top: 10px;
    }
    .topo.topoFixed {
      background: #fff;
      min-height: 80px;
    }
    .topo.topoFixed .buttonMobile {
      top: 23px;
    }
    .topo nav.fadeMenu{
      min-height: 297px;
    }
    section.depoimentos .colMobile {
      display: block !important;
    }
    section.depoimentos .colDesk {
      display: none !important;
    }
    section.depoimentos .fotoDepoimentoMobile h3 {
      padding-bottom: 5px;
    }
    section.programa .colDesk {
      display: none !important;
    }
    section.programa .colMobile {
      display: block !important;
    }
    .instagram a .itemInstagram {
      height: 105px;
    }
  }

  @media(max-width: 650px) {
    .instagram a .itemInstagram {
      width: 13%;
      height: 86px;
    }
  }
  @media(max-width: 610px){
    section.sobre .texto2{
      padding: 0;
    }
    section.sobre figure {
      width: 270px;
      height: 270px;
    }
    section.depoimentos .depoimentoFoto img {
      max-width: 240px;
    }
    section.sobre, section.depoimentos, section.programa,section.depoimentos .textoDep{
      padding: 0;
    }
    section.programa .icones ul li, section.programa .colMobile .icones ul li {
      width: 45%;
    }
    .pg-inicial {
      padding: 0 10px;
    }
    section.sobre .texto {
      padding: 20px 20px;
    }
    section.newssllater input[type="text"] {
      display: block;
      width: 100%;
      margin: 10px auto;
    }
    form#form-wysija-html5bf2aa7bcd67f-2{
      padding-bottom: 50px;
    }
    section.newssllater .textoNews span {
      font-size: 14px;
    }
    section.newssllater .textoNews p {
      font-size: 25px;
    }
    section.sobre .texto2 h3, section.depoimentos>h3, section.programa h3.titulop, section.contato h3, .instagram .tituloInstagram p {
      font-size: 25px;
    }
    section.depoimentos .depoimento h2 {
      font-size: 17px;
    }
    section.programa .eusouGigante .titutlo h2 {
      font-size: 17px;
    }
    .whats{
      display: none;
    }
    .instagram a .itemInstagram {
      width: 34.4%;
      height: 195px;
      margin: 10px;
    }
    section.sobre .texto2 .foto figure {
      display: block;
      width: 100%;
      max-width: 100%;
    }
    section.sobre figure.sobreFoto{
      max-width: 320px;
      height: 320px;
    }

  }
  @media(max-width: 500px){
    .instagram a .itemInstagram {
      height: 164px;
    }
  }
  @media(max-width: 445px){
    section.programa .icones ul li figure, section.programa .colMobile .icones ul li figure {
      max-width: 90px;
      height: 90px;
    }
    section.programa .icones ul li figure img, section.programa .colMobile .icones ul li figure img{
      max-width: 40px;
    }
  }
  @media(max-width: 445px) {
    .instagram a .itemInstagram {
      width: 36.4%;
      height: 145px;
      margin: 7px;
    }
  }
  @media(max-width: 320px) {
    .instagram a .itemInstagram {
      height: 100px;
    }
  }

  /* MEDIA QUERY */
    @media(max-width: 1200px){
      .pg-newsletter .destaque .texto,.pg-newsletter .documentoPdf,.pg-popup{
        padding: 0 20px;
      }
    }
    @media(max-width: 991px){
      .pg-newsletter .documentoPdf .btnPdf button ,.pg-newsletter .destaque .texto .botao button,.pg-popup .newsletter form .botao{
        font-size: 18px;
        max-width: 400px;
        padding: 10px;
      }
      .pg-newsletter .destaque .texto h1 {
        font-size: 21px;
      }
      .pg-newsletter .destaque .texto h3 {
        font-size: 18px;
      }
      .pg-newsletter .documentoPdf .desc p {
        font-size: 15px;
      }
      .pg-newsletter .documentoPdf .btnPdf {
        margin: 16px auto;
      }
      .pg-popup .newsletter h2 {
        font-size: 19px;
      }
    }
    @media(max-width: 610px){
      .pg-newsletter .destaque .texto h3 {
        text-align: left;
      }
      .pg-newsletter .documentoPdf .desc p{
        text-align: left;
      }
      .pg-newsletter .documentoPdf p{
         text-align: center;
         margin: 10px 0;
       }
      .pg-newsletter .documentoPdf .clique-aqui{
        text-align: center;
      }
      .pg-newsletter .destaque .texto h3 {
        font-size: 16px;
      }
      .pg-newsletter .destaque .texto h1,.pg-newsletter .documentoPdf h3,.pg-newsletter .documentoPdf .clique-aqui {
        font-size: 19px;
      }
      .pg-newsletter .documentoPdf .btnPdf button, .pg-newsletter .destaque .texto .botao button, .pg-popup .newsletter form .botao {
        font-size: 16px;
        max-width: 320px;
        padding: 10px;
        border-radius: 6px;
      }
      .pg-popup .newsletter {
        margin: 30px auto;
      }
      .pg-newsletter .destaque .texto {
        margin: 35px auto 0;
      }
    }
    @media(max-width: 445px){
      .pg-newsletter .destaque .texto h3 {
        font-size: 15px;
      }
      .pg-newsletter .destaque .texto h1, .pg-newsletter .documentoPdf h3, .pg-newsletter .documentoPdf .clique-aqui {
        font-size: 16px;
      }
      .pg-newsletter .documentoPdf .btnPdf button, .pg-newsletter .destaque .texto .botao button, .pg-popup .newsletter form .botao {
        font-size: 14px;
        max-width: 260px;
        padding: 10px;
        border-radius: 6px;
      }
      .pg-newsletter .documentoPdf .desc p {
        font-size: 13px;
      }
      .pg-newsletter .destaque .texto h1, .pg-newsletter .documentoPdf h3, .pg-newsletter .documentoPdf .clique-aqui {
        font-size: 15px;
      }
      .pg-popup .newsletter h2 {
        font-size: 15px;
      }
    }




  body::-webkit-scrollbar{ background: #fff;width: 10px;}
  body::-webkit-scrollbar-button{ background: #9a1126; color: #fff;}
  body::-webkit-scrollbar-track{}
  body::-webkit-scrollbar-track-piece {}
  body::-webkit-scrollbar-thumb{ background: #9a1126; color: #fff;}
  body::-webkit-scrollbar-corner {}
  body::-webkit-resizer{}

  #carrosselDestaque {
    max-height: 450px;
    overflow: hidden;
  }